@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliders .tap:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  --tw-bg-opacity: 1;
  background-color: rgb(37, 99, 235);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: left;
}

#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before {
  transform: scaleX(1);
  width: 100%;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3 {
  opacity: 1;
  transition-delay: 0.2s;
}

.content {
  padding: 0 20px 0 35px;
  width: 100%;
  margin-left: 50px;
  opacity: 0;
  transition: 0.6s;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3 {
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: 0.3s;
}
